{% extends 'base.html.twig' %}

{% block body %}
	<section>
		<h1>Ajouter un(e) Argonaute</h1>
		{# add form #}
	</section>
	<section>
		<h1>Membres de l'équipage</h1>
		{# add members #}
	</section>
{% endblock %}
