{% extends 'base.html.twig' %}

{% block body %}
	<main>
		<section class="add">
			<h2>Ajouter un(e) Argonaute</h2>
			{% include "components/_form.html.twig" %}
		</section>
		<section class="list">
			<h2>Membres de l'équipage</h2>
			{% include "home/show.html.twig" %}
		</section>
	</main>
{% endblock %}
