{% extends 'base.html.twig' %}

{% block body %}
	<section>
		<h1>Ajouter un(e) Argonaute</h1>
		{% include "components/_form.html.twig" %}
	</section>
	<section>
		<h1>Membres de l'équipage</h1>
		{% include "home/show.html.twig" %}
	</section>
{% endblock %}
