
$nav: #F4F4F4;
$footer: #F76C6C;

@import "~bootstrap/scss/bootstrap";

nav {
    background-color: $nav;
    
}
footer {
    background-color: $footer;
}
section{
    display:inline-grid;
    top:15px;
    margin-left:30px;
    margin-right:30px;
    margin-top:20px;
    margin-bottom:30px;
   }
   