<nav class="navbar justify-content-center navbar-light bg-nav">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="{{ asset('build/images/logo-wild.png') }}" alt="" width="90" height="30" class="d-inline-block align-text-top">
			Les Argonautes
		</a>
	</div>
</nav>
